// BASE
* {
    font-size: 100%;
}

body {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color: #2a2e2d;
}

h2 {
    font: 800 2.25rem/1 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h3 {
    font: 700 2.25rem 'Ubuntu', sans-serif;
    text-transform: capitalize;
    color: #0b6847;
}

h4 {
    font: 500 1.75rem 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

h5 {
    font: 600 1.25rem 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #f8ce6b;
}

a { 
    text-decoration: none;
    color: #2a2e2d;

    &:hover {
        text-decoration: none;
    }

    &.btn-link {
        font: 700 1rem 'Ubuntu', sans-serif;
        text-transform: uppercase;
        color: #0b6847;
    
        &:hover {
            color: #fff;
        }
    }
}

// VOLUNTEER
.position-group {
    font: 700 .875rem 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #8aa3de;
}

.position-status {
    font: 700 1rem/1 'Open Sans', sans-serif;
    text-transform: lowercase;
    color: #fff;
}

.join-us {
    form {
        p {
            &:last-of-type {
                text-align: right;
            }
        }

        label {
            font: 600 1.25rem/1 'Open Sans', sans-serif;
            text-transform: lowercase;
            color: #8aa3de;
        }
    
        input, 
        textarea {
            &::placeholder {
                font: 300 1.125rem/1 'Open Sans', sans-serif;
                letter-spacing: .5px;
                font-style: italic;
                color: #8a8a8a;
            }
        }
    
        input[type=submit] {
            font: 700 1.125rem/1 'Open Sans', sans-serif;
            letter-spacing: .5px;
            text-transform: lowercase;
            color: #fff;
        }
    }
}



// GALLERY
.modula-item-content {
    img {
        width: 100%;
        height: 100%;
    }
}



@media screen and (min-width: 1024px) {
    h2 {
        font-size: 3.75rem;
        color: #f8ce6b;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.25rem;
    }

    .position-group,
    .position-status {
        font-size: 1.125rem;
    }

    .banner-single {
        h2 {
            color: #8aa3de;
            font-size: 3rem;
            line-height: 1.1;
        }
    }
}



// 1200PX
@media screen and (min-width: 1200px) {
    // BASE
    a.btn-link {
        color: #fff;

        &:hover {
            color: #0b6847;
        }
    }
}



// 1440PX
@media screen and (min-width: 1440px) {
    // BASE
    body {
        font-size: 1.25rem;
        line-height: 1.7;
    }

    h2 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 3.75rem;
    }



    // VOLUNTEER
    .join-us {
        .wpcf7 {
            label {
                top: 1.5rem;
            }

            input[type=submit] {
                font-size: 1.5rem;
            }
        }
    }
}



// 1760PX
@media screen and (min-width: 1760px) {
    h2 {
        font-size: 6rem;
    }

    h4 {
        font-size: 3rem;
    }

    .banner-single {
        h2 {
            font-size: 4.5rem;
        }
    }

}