// BASE
* {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #2a2e2d;
}

body {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    font: 800 2.25rem 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h3 {
    font: 700 2.25rem 'Ubuntu', sans-serif;
    text-transform: capitalize;
    color: #0b6847;
}

h4 {
    font: 500 1.75rem 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

h5 {
    font: 600 1.25rem 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #f8ce6b;
}

a { 
    font: 700 1rem 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #0b6847;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}



// VOLUNTEER
.position-group {
    font: 700 .875rem 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #8aa3de;
}

.position-status {
    font: 700 1rem/1 'Open Sans', sans-serif;
    text-transform: lowercase;
    color: #fff;
}

.join-us {
    form {
        p {
            &:last-of-type {
                text-align: right;
            }
        }

        label {
            font: 600 1.25rem/1 'Open Sans', sans-serif;
            text-transform: lowercase;
            color: #8aa3de;
        }
    
        input, 
        textarea {
            &::placeholder {
                font: 300 1.125rem/1 'Open Sans', sans-serif;
                letter-spacing: .5px;
                font-style: italic;
                color: #8a8a8a;
            }
        }
    
        input[type=submit] {
            font: 700 1.125rem/1 'Open Sans', sans-serif;
            letter-spacing: .5px;
            text-transform: lowercase;
            color: #fff;
        }
    }
}



// GALLERY
.modula-item-content {
    img {
        width: 100%;
        height: 100%;
    }
}